

[MASTER]

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint_flask, pylint_flask_sqlalchemy


[TYPECHECK]

ignored-classes=scoped_session


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=10

[FORMAT]
max-line-length=200

[DESIGN]

# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=30


[MESSAGES CONTROL]
# NOTE(gus): This is a long list.  A number of these are important and
# should be re-enabled once the offending code is fixed (or marked
# with a local disable)
disable=
# "F" Fatal errors that prevent further processing
 import-error,
# "I" Informational noise
 locally-disabled,
# "E" Error for important programming issues (likely bugs)
 access-member-before-definition,
 bad-super-call,
 maybe-no-member,
 no-member,
 no-method-argument,
 no-self-argument,
 no-value-for-parameter,
 super-on-old-class,
# "W" Warnings for stylistic problems or minor programming issues
 abstract-method,
 arguments-differ,
 attribute-defined-outside-init,
 bad-builtin,
 bad-indentation,
 broad-except,
 dangerous-default-value,
 deprecated-lambda,
 duplicate-key,
 expression-not-assigned,
 fixme,
 global-statement,
 global-variable-not-assigned,
 logging-not-lazy,
 no-init,
 non-parent-init-called,
 protected-access,
 redefined-builtin,
 redefined-outer-name,
 redefine-in-handler,
 signature-differs,
 star-args,
 super-init-not-called,
 unbalanced-tuple-unpacking,
 unnecessary-lambda,
 unnecessary-pass,
 unpacking-non-sequence,
 unreachable,
 unused-argument,
 unused-import,
 unused-variable,
# "C" Coding convention violations
 bad-continuation,
 invalid-name,
 missing-docstring,
 old-style-class,
 superfluous-parens,
# "R" Refactor recommendations
 abstract-class-little-used,
 abstract-class-not-used,
 duplicate-code,
 interface-not-implemented,
 no-self-use,
 too-few-public-methods,
 too-many-ancestors,
 too-many-arguments,
 too-many-branches,
 too-many-instance-attributes,
 too-many-lines,
 too-many-locals,
 too-many-public-methods,
 too-many-return-statements,
 too-many-statements